import(
   "methods",
   "mvtnorm", 
   "graph", 
   "RBGL")

export(
   "scampi",
   "scampiVal",
   "runScampi",
   "iterateScampi",
   "estimateModelParameters",
   "quantifyPeptide",
   "quantifyProtein",
   "quantifyProteins",
   "checkInputData",
   "preprocessInputData",
   "getCovU")

S3method("checkInputData", "scampi")
S3method("preprocessInputData", "scampi")

exportMethods("summary", "show", "plot")

exportClasses("scampi",
              "scampiVal")
